# Django #
*.log
*.pot
db.sqlite3
media
db_data/

# Backup files # 
*.bak 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
